.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-container {
  text-align: center;
}

.App-body {
  margin-top: 30px;
}

.nav_bar {
  width: 100%;

}

.nav_bar_child {
  max-width: 901px;
  margin: 0 auto;
  background-color: rgba(201, 201, 201, 0.468);
  padding-top: 8px;
  border-bottom: .5px solid #252525a1;
  border-left: .5px solid #252525a1;
  border-right: .5px solid #252525a1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*
@media only screen and (min-width: 700px) {

} */

li {
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
}