.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-container {
  text-align: center;
  cursor: default;
}

.App-body {
  margin-top: 30px;
}

.nav_bar {
  width: 100%;
}

.nav_bar_child {
  max-width: 999px;
  margin: 0 auto;
  background-color: rgba(232, 229, 229, 0.625);
  padding-top: 4px;
  border-bottom: .5px solid #252525a1;
}


@media only screen and (min-width: 999px) {
  .nav_bar_child {
    max-width: 999px;
    margin: 0 auto;
    background-color: rgba(232, 229, 229, 0.625);
    border-bottom: .5px solid #252525a1;
    border-left: .5px solid #252525a1;
    border-right: .5px solid #252525a1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

li {
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
}