.wyr-banner-login {
  height: 41px;
  margin-bottom: -12px;
}

.login-header {
  background-color: rgba(232, 229, 229, 0.625);
  border-bottom: 1px solid #dad7d7;
  margin-bottom: 30px;
  padding: 5px;
}

.login-header h1 {
  font-size: 24px;
}

.login-form {
  padding: 20px;
}

.login-select {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: 1px solid #dad7d7;
  background-color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.button-disabled {
  background-color: rgba(109, 109, 109, 0.434);
  width: 100%;
  font-size: 13px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.login-button {
  transition-duration: 200ms;
  background-color: rgba(255, 0, 0, 0.728);
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.login-button:hover {
  transition-duration: 200ms;
  background-color: red;
}
