.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 30px;
  float: right;
  margin-top: -44px
}

.profile li {
  padding: 10px;
}

.logout_trigger {
  transition-duration: 200ms;
  cursor: pointer;
  color: black;
  font-size: 12px;
  padding: 6.5px 0 0 13px;
}

.logout_trigger:hover {
  transition-duration: 200ms;
  color: rgba(254, 9, 9, 0.824);
}

.popUp-logout_p {
  color: '#000';
  font-size: '8px';
}

.button-yes, .button-cancel {
  font-size: 11px;
  border: none;
  transition: background-color 200ms;
}

.button-yes:hover {
  color: rgb(6, 94, 201);
  cursor: pointer;
}

.button-cancel:hover {
  color: rgba(204, 25, 25, 0.824);
  cursor: pointer;
}