.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 30px;
  float: right;
  margin-top: -44px
}

.profile li {
  padding: 10px;
  font-size: 12px;
}

.logout-trigger {
  transition-duration: 200ms;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.495);
  font-size: 16px;
}

.logout-trigger:hover {
  transition-duration: 200ms;
  color: rgba(254, 9, 9, 0.824);
}

p.profile-name{
  font-size: 16px;
}

.button-yes, .button-cancel {
  font-size: 10px;
  border: none;
  transition: background-color 200ms;
}

.button-yes:hover {
  color: rgb(6, 94, 201);
  cursor: pointer;
}

.button-cancel:hover {
  color: rgba(204, 25, 25, 0.824);
  cursor: pointer;
}

.avatar-small-profile {
  height: 25px;
  padding: 13px;
  border-radius: 25px;
}


@media only screen and (max-width: 700px) {
  .profile {
    padding-right: 10px;
    margin-top: -42px;
  }
  .avatar-small-profile {
    height: 25px;
    padding: 5px;
    margin-top: 8px;
    border-radius: 25px;
  }
  p.profile-name{
    color: rgba(0, 0, 0, 0.495);
    font-size: 11px;
    margin-top: 19.5px;

  }
  .logout-trigger {
    font-size: 11px;
    padding: 8.5px 0 0 0;
  }
}