.question {
  margin: 0 auto;
  width: 94%;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: default;
  margin-bottom: 23px;
  background-color: white;
}

.question-header {
  padding: 10px;
  text-align: left;
  background-color: rgba(9, 9, 9, 0.105);
}

.question-body {
  display: flex;
  padding: 17px;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
}

.question-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin: 0 auto;
}

.question-info p {
  text-align: left;
}

.question-info span {
  text-align: left;
  font-weight: bold;
}

.question-info a {
  transition: 200ms;
  background-color: rgba(255, 0, 0, 0.728);
  text-decoration: none;
  border: 1px solid #808080;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.question-info a:hover {
  transition-duration: 200ms;
  background-color: red;
  font-size: 14px;
  transform: scale(1.1);
  padding: 5px;
  color: white;
}