.question_list {
  width: 75%;
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 5px;
}

.question_list_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #dad7d7;
}

.question_list_butn {
  padding: 20px 0 20px 0;
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  border-right: 1px solid #dad7d7;
  cursor: pointer;
  border-top-left-radius: 5px;
}

.question_list_butn2 {
  padding: 20px 0 20px 0;
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
  border-top-left-radius: 5px;
}

.notActive2 {
  padding: 20px 0 20px 0;
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
  color: rgba(48, 48, 48, 0.283);
  background-color: rgba(79, 78, 78, 0.125);
  border-top-left-radius: 5px;
}

.notActive:hover, .notActive2:hover {
  transition-duration: 200ms;
  color: rgb(6, 94, 201);
}

.notActive {
  padding: 20px 0 20px 0;
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
  color: rgba(48, 48, 48, 0.283);
  background-color: rgba(79, 78, 78, 0.125);
  border-top-right-radius: 5px;
}
