.container {
  width: 96%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  color: black;
  border-radius: 5px;
}

.container-header {
  background-color: rgba(232, 229, 229, 0.625);
  border-bottom: 1px solid #dad7d7;
  display: flex;
  flex-direction: row;
  padding: 0 3px 0 3px;
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: 400;
}

.container-body {
  margin: 0 auto;
  padding: 21px;
  display: flex;
  flex-direction: column;
}

.pollQ-option-one, .pollQ-option-two {
  width: 70%;
  transition-duration: 200ms;
  padding: 55px 20px 55px 20px;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
}

.pollQ-option-one:hover, .pollQ-option-two:hover {
  transition-duration: 200ms;
  transform: scale(1.06);
}

.pollQ-option-one {
  background: linear-gradient(to bottom right, red, rgba(245, 122, 45, 0.872));
}

.pollQ-option-two {
  background: linear-gradient(to bottom right, rgb(7, 83, 215), rgb(129, 173, 249));
}

.pollQ-option-active {
  transition-duration: 100ms;
  margin: 0 auto;
  width: 70%;
  padding: 55px 20px 55px 20px;
  transform: scale(1.1);
  border-radius: 5px;
  cursor: default;
  background: linear-gradient(to bottom right, rgb(90, 198, 28), rgb(163, 222, 129));
}

.button-not-active {
  visibility: hidden;
  margin-top: 30px;
  border: 1px solid #26262641;
  font-size: 15px;
  padding: 10px;
  width: 51%;
  transition-duration: 200ms;
}

.button {
  width: 51%;
  transition-delay: 100ms;
  transition-duration: 200ms;
  background-color: rgba(255, 0, 0, 0.728);
  border: 1px solid #26262641;
  font-size: 15px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  transition-duration: 200ms;
  transform: scale(1.1);
  background-color: red;
}

.avatar-large {
  height: 99px;
  border-radius: 90px;
}

.avatar-medium {
  height: 39px;
  border-radius: 39px;
  padding: 10px;
}

.avatar-small {
  height: 25px;
  padding: 13px;
  border-radius: 25px;
}

.avatar-leaderboard {
  height: 99px;
  border-radius: 90px;
  margin-top: 13%;
}

.not-active {
  display: none;
}

.check-mark {
  height: 39px;
  float: right;
  margin-top: -48px;
  margin-right: -11px;
  background-color: #96969648;
  border-radius: 40px;
}

.your-vote {
  font-size: 12px;
  padding: 9px;
  background-color: rgba(18, 16, 16, 0.851);
  border-radius: 100px;
  height: 30px;
  width: 30px;
  float: right;
  margin-top: -76px;
  margin-right: -37px;
}

span.question-or {
  text-align: center;
  padding: 20px;
  color: rgb(82, 82, 82);
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-size: 31px;
  font-weight: bold;
}

.text-area {
  padding: 15px 0 0 15px;
  color: #000;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #878787;
  cursor: text;
  margin: 10px;
}

.leader-container {
  width: 96%;
  max-width: 551px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  color: black;
  border-radius: 5px;
}

.leader-text-header {
  margin: 0 auto;
  font-size: 32px;
  padding: 7px;
  color: rgb(0, 0, 0);
}

.leaderboard-body {
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 17px 0 17px 0;
  border-bottom: 1px solid #24232315;
}

div.leaderboard-body:last-child {
  border: none;
}

.leader-info {
  margin: auto;
  padding: 0 17px 0 17px;
  border-left: 1px solid #dad7d77a;
  border-right: 1px solid #dad7d77a;
  text-align: left;
}

.leader-info p>span {
  padding-left: 39px;
  float: right;
}

.leader-trophey {
  height: 27px;
}

.leader-score {
  margin: 0 auto;
  padding: 0px;
  border: none;
  border: 1px solid #dad7d7;
  border-radius: 5px;
}
.leader-score-header {
  background-color: rgba(232, 229, 229, 0.625);
  padding: 1px 27px 1px 26px;
  border-bottom: 1px solid #dad7d7;
  margin-bottom: 26px;
  font-size: 15px;
  font-weight: 100;
}
.leader-total-number {
  color: white;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.865);
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
}

.wyr-banner {
  max-height: 80px;
}

.wyr-initial {
  height: 80px;
  transform: scale(0);
  visibility: hidden;
}

.wyr-banner-transition {
  transform: scale(1);
  transition-delay: 300ms;
  transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  max-height: 90px;
}

.question-list-btn {
  width: 50%;
  font-size: 16px;
}

.question-list-btn-non-active {
  transition-duration: 200ms;
  width: 50%;
  font-size: 16px;
  color: rgba(36, 36, 36, 0.201);
  cursor: pointer;
}

.question-list-btn-non-active:hover {
  transition-duration: 200ms;
  color: blue;
}

.q-list-ul {
  padding: 8px;
}

.no-more-questions {
  margin: 80px 0 90px 0;
}
.no-more-questions > p {
  padding: 10px;
}

@media only screen and (max-width: 639px) {
  .wyr-banner-transition {
    transition-delay: 300ms;
    transition-duration: 700ms;
    -moz-transition-duration: 700ms;
    -o-transition-duration: 700ms;
    -webkit-transition-duration: 700ms;
    max-height: 65px;
  }
  .wyr-banner {
    max-height: 65px;
  }
  .leader-trophey {
    height: 23px;
  }
  .avatar-leaderboard {
    height: 65px;
    border-radius: 90px;
    margin-top: 26%;
  }
  .leader-info p>span {
    padding-left: 17px;
    float: right;
  }
  .leader-info {
    font-size: 12px;
    margin: auto;
    padding: 0 9px 0 9px;
    text-align: left;
  }
  .leader-score {
    margin: 0 auto;
    padding: 0px;
    border: none;
    border: 1px solid #dad7d7;
    border-radius: 5px;
  }
  .leader-score-header {
    background-color: rgba(232, 229, 229, 0.625);
    padding: 1px 8px 1px 7px;
    border-bottom: 1px solid #dad7d7;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 100;
  }
  .leader-total-number {
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.865);
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
  }
  .your-vote {
    margin-top: -78px;
    margin-right: -37px;
  }
}